@use "../../styles" as *;

.About {
	@include displayFlex(row);
	background-color: white;
	width: 80%;
	height: fit-content;
	box-shadow: $shadow;
	padding: 3rem 2rem;
	margin-top: 2rem;
}
.About__pic-container {
	@include displayFlex(column, true);
	.About__profile-pic {
		@include boxSize(25rem, true);
		border: 3px solid black;
		object-fit: cover;
	}
}

.About__details {
	@include displayFlex(column);
	align-items: center;
	gap: 1rem;
	.About__title {
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: 600;
		border-bottom: 2px solid black;
	}
	.About__description {
		font-size: 1.5rem;
	}
}

@media (max-width: $lg) {
	.About {
		padding: 4rem;
	}
}
